* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  padding: 57px 0 156px;
  background: #EEEFF1;
}
.header .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}
.header .header-menu__logo {
  flex-basis: 40%;
}
.header .main-menu {
  flex-basis: 60%;
}
.header .main-menu .main-menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header .main-menu .main-menu__list .main-menu__list-item {
  flex-basis: 20%;
}
.header .main-menu .main-menu__list .main-menu__list-item_elem {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #000000;
}
.header .main-menu .main-menu__list .main-menu__list-item_elem.active,
.header .main-menu .main-menu__list .main-menu__list-item_elem:hover {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #34547A;
}
.header .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .slider .slider__frame {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
.header .slider .slider__content {
  flex-basis: 50%;
}
.header .slider .slider__content h1 {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin-top: 0;
}
.header .slider .slider__content p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 60px 0;
}
.header .slider .slider__content a {
  font-size: 16px;
  color: white;
  padding: 25px 41px;
  background: #34547A;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
}
.header .slider .slider__content a:hover {
  color: #34547A;
  background: white;
  border: 1px solid #34547A;
}
.about-me {
  padding: 100px 0;
}
.about-me h2 {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}
.about-me p {
  margin: 0 auto;
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.portfolio {
  padding: 100px 0;
  background: #34547A;
}
.portfolio .project-items {
  display: flex;
  justify-content: space-around;
}
.portfolio .project-items .project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .project-items .project-item img {
  margin-right: 20px;
}
.portfolio .project-items .project-item .count {
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.portfolio .project-items .project-item p {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}
.my-skill {
  padding: 102px 0;
}
.my-skill .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-skill .container .my-skill-stat {
  flex-basis: 45%;
}
.my-skill .container .my-skill-stat h2 {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
}
.my-skill .container .my-skill-stat .skill-item {
  margin-bottom: 30px;
}
.my-skill .container .my-skill-stat .skill-item p {
  font-size: 16px;
  color: #727272;
  margin-bottom: 20px;
}
.my-skill .container .my-skill-stat .skill-item .skill-70 {
  height: 4px;
  background: linear-gradient(to right, #34547A 70%, #C4C4C4 70%);
}
.my-skill .container .my-skill-stat .skill-item .skill-90 {
  height: 4px;
  background: linear-gradient(to right, #34547A 90%, #C4C4C4 90%);
}
.my-skill .container .my-skill-stat .skill-item .skill-30 {
  height: 4px;
  background: linear-gradient(to right, #34547A 30%, #C4C4C4 30%);
}
.my-skill .container .skill-image {
  flex-basis: 45%;
}
.my-skill .container .skill-image img {
  width: 100%;
}
.how-i-work {
  padding: 100px 0;
}
.how-i-work .container {
  padding: 0 20px;
}
.how-i-work .container h2 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.how-i-work .container p {
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 50px auto 57px;
}
.photo-gallery {
  padding: 0;
}
.photo-gallery .photo-gallery__images {
  display: flex;
  flex-wrap: wrap;
}
.photo-gallery .photo-gallery__images .photo-gallery__images-item {
  position: relative;
  flex-basis: 25%;
}
.photo-gallery .photo-gallery__images .photo-gallery__images-item img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.photo-gallery .photo-gallery__images .photo-gallery__images-item .eye img {
  width: auto;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 55px);
  z-index: 1;
}
.photo-gallery .photo-gallery__images .photo-gallery__images-item:hover img {
  filter: brightness(40%);
}
.photo-gallery .photo-gallery__images .photo-gallery__images-item:hover .eye img {
  z-index: 5;
  filter: brightness(100%);
}
.logo-company {
  padding: 72px 0 100px;
}
.logo-company .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.logo-company .container img {
  margin-right: 30px;
}
.contact-service {
  padding: 100px 0;
  background: #EEEFF1;
}
.contact-service .container {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.contact-service .container .contact-service__info {
  text-align: center;
  margin-bottom: 65px;
}
.contact-service .container .contact-service__info h2 {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
}
.contact-service .container .contact-service__info p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  text-align: center;
}
.contact-service .container .contact-service__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.contact-service .container .contact-service__form .contact-service__form-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contact-service .container .contact-service__form .contact-service__form-input .text {
  flex-basis: 42%;
  border: none;
  padding: 18px 0 18px 20px;
}
.contact-service .container .contact-service__form .contact-service__form-input .email {
  flex-basis: 43%;
  border: none;
  padding: 18px 0 18px 20px;
}
.contact-service .container .contact-service__form .textarea {
  border: none;
  padding: 18px 20px;
  resize: none;
}
.contact-service .container .submitting-a-form-button {
  min-width: 190px;
  padding: 20px 19px;
  text-decoration: none;
  color: white;
  background: #34547A;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid transparent;
}
.contact-service .container .submitting-a-form-button:hover {
  border: 1px solid #34547A;
  background: white;
  color: #34547A;
}
.footer-info {
  padding: 50px 0;
  background: #34547A;
}
.footer-info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info .container .footer-info-block p {
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-info .container .footer-info-block span {
  font-size: 13px;
  color: #FFFFFF;
}
.footer-info .container .footer-info__icon-images {
  display: flex;
  justify-content: space-between;
  flex-basis: 15%;
}
/*# sourceMappingURL=style.css.map */